@font-face {
  font-family: 'SA Long Beach';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/SALongBeach.woff2) format(woff2),
    url(/assets/fonts/SALongBeach.otf) format(opentype);
}
@font-face {
  font-family: 'Fox Pookie';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/FoxPookieRegular.woff2) format(woff2),
    url(/assets/fonts/FoxPookieRegular.ttf) format(truetype);
}
